.react-flow__node-selectorNode {
  font-size: 12px;
  background: #eee;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
}

.text-updater-node {
  border: 1px solid #eee;
  padding: 2px;
  border-radius: 2px;
  background: white;
}

.selected-text-updater-node {
  border: 1px solid #037272;
  padding: 1px;
  border-radius: 1px;
  background: white;
  resize: both;
}

.text-updater-node label {
  display: block;
  color: #777;
  font-size: 12px;
}
