.react-flow__node-selectorNode {
  font-size: 12px;
  background: #eee;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
}

.text-node {
  border: 1px solid #eee;
  padding: 2px;
  border-radius: 2px;
  background: white;
  resize: none;
  font-family: Roboto;
  text-align: center;
}

.circle-text-node {
  resize: none;
  font-family: Roboto;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  margin: auto;
  outline: none;
}

.circle-node {
  display: flex;
  width: 125px;
  height: 125px;
  background-color: white;
  /*border: 1px solid grey;*/
  border-radius: 50%;
}

.triangle-node {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top: 0;
  border-bottom: 100px solid white;
}

.triangle-text-node {
  position: absolute;
  top: 50%; /* Vertically center the textarea */
  left: 50%; /* Horizontally center the textarea */
  transform: translate(
    -50%,
    -50%
  ); /* Center the textarea relative to its container */
  z-index: 2; /* Ensure the textarea is on top of the triangle */
  resize: none;
  font-family: Roboto;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  margin: auto;
  outline: none;
}

.selected-text-updater-node {
  border: 1px solid #037272;
  padding: 1px;
  border-radius: 1px;
  background: white;
  resize: both;
}

.text-updater-node label {
  display: block;
  color: #777;
  font-size: 12px;
}

.hide {
  display: none;
}
