@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9f9;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.footer-content .right-text a {
  display: inline-flex;
  align-items: center;
}

.footer-content .right-text .logo-space {
  margin-left: 5px;
}

.left-text {
  margin-right: auto;
}

.right-text {
  margin-left: auto;
}
